// all components link 
@import"./components/404";
@import"./components/animrtion";
@import"./components/add_to_cart";
@import"./components/about";
@import"./components/banner";
@import"./components/button";
@import"./components/blog";
@import"./components/blog_details";
@import"./components/common";
@import"./components/cuisine";
@import"./components/categories";
@import"./components/cta";
@import"./components/checkout";
@import"./components/contact_us";
@import"./components/discount";
@import"./components/deals";
@import"./components/dashboard";
@import"./components/food-card";
@import"./components/footer";
@import"./components/food_not_found";
@import"./components/header";
@import"./components/modal";
@import"./components/mobile-app";
@import"./components/mobile_header";
@import"./components/offer";
@import"./components/placeholder";
@import"./components/popular";
@import"./components/privace_policy";
@import"./components/preloder";
@import"./components/restaurant";
@import"./components/resturnant_profile";
@import"./components/sign_up";
@import"./components/variable";
@import"./components/work-prosses";