.error {
    padding-top: 240px;
}



.error_thumb {
    text-align: center;

    span {
        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.error_thumb_btn {
    @extend %d-j-center;
    margin-top: 24px;

    .thm-btn {
        width: fit-content;
    }
}