// heaser-animetion
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

// rotateCircles  
@keyframes rotateCircles {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

// mobile_app_animetion_circel 

@keyframes mobile_app_animetion_circel {
  0% {
    width: 0;
    height: 0;
  }

  95% {
    opacity: 2%;
  }

  100% {
    width: 450px;
    height: 450px;
    opacity: 0;
  }
}


// Rotate 
@keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}





// ppb_kenburns 
@keyframes ppb_kenburns {
  0% {
    transform: scale(1.3) translate(-10%, 10%);
  }

  25% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.3) translate(10%, 10%);
  }

  75% {
    transform: scale(1) translate(0, 0);
  }

  100% {
    transform: scale(1.3) translate(-10%, 10%);
  }
}