.banner {
    padding: 120px 0 0 0;
}

.banner_slick_main {
    position: relative;

}

.banner_slick_main_item {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .banner_slick_main_txt {
        h1 {
            text-align: center;
            line-height: 84px;
        }
    }
}

.banner_slick_main_item_box_main {
    @extend %d-j-center;
    margin-top: 50px;
}

.banner_slick_main_item_box {
    @extend %d-j-s-b;
    padding: 12px 12px 12px 20px;
    background-color: var(--color-white);
    gap: 32px;
    border-radius: 8px;
    width: 708px;

    .form-control_main {
        width: 100%;
        @extend %display-flex;
        gap: 16px;

        .icon {
            svg {
                stroke: currentColor;
                color: var(--color-slate-600);
            }
        }

        .form-control {
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 25.6px;
            color: var(--color-slate-900);
            border: 0;
            padding: 0;
            border-bottom: 1px solid var(--color-slate-200);
            padding-bottom: 10px;
            border-radius: 0;

            &:focus {
                box-shadow: 0 0 0 .25rem transparent;
                border-bottom: 1px solid var(--color-yellow);
            }

            &::placeholder {
                color: var(--color-slate-300);
            }
        }
    }

    .thm-btn {
        padding: 14px 40px;
        border: 0;
        width: 230px;

    }


}


.banner_slick {
    position: relative;

    .slick-dots {
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 6px;

        button {
            height: 8px;
            width: 8px;
            border: none;
            border-radius: 100%;
            background-color: var(--color-red);
            text-indent: -9999px;
            display: flex;
            position: relative;
            transition: var(--all-transition);

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                border: 1px solid #FF6648;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                opacity: 0;
                transition: var(--all-transition);
            }
        }

        li.slick-active button {
            background-color: var(--color-red);

            &::after {
                opacity: 1;
            }
        }

    }
}


.banner_slick_thumb {
    img {
        width: 100%;
        height: 100%;
    }
}


.popular_link {
    @extend %d-j-center;
    gap: 5px;
    margin: 16px;

    li {
        font-size: 16px;
        font-weight: 600;
        line-height: 25.6px;
        color: var(--color-slate-900);

        a {
            font-size: 16px;
            font-weight: 600;
            line-height: 25.6px;
            color: var(--color-slate-900);
        }

    }
}




// inner_banner start

.inner_banner {
    padding: 220px 0 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}