.blog {
    padding: 0 0 78px 0;
}

.blog_item {
    &:hover {
        .blog_item_thumb {
            img {
                &:nth-child(1) {
                    transform: scale(1.1);
                }

                &:nth-child(2) {
                    transform: translateX(-700px) skewX(40deg);
                }

                &:nth-child(3) {
                    transform: translateX(700px) skewX(-40deg);
                }
            }
        }
    }
}

.blog_item_thumb {
    height: 280px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:nth-child(2),
        &:nth-child(3) {
            position: absolute;
            top: 0;
            z-index: 3;
            transition: transform 1.6s;
        }

        &:nth-child(1) {
            transition: transform 0.8s;
        }

        &:nth-child(2) {
            left: 0;
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
        }

        &:nth-child(3) {
            right: 0;
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        }

    }
}


.blog_item_thumb_main {
    position: relative;

    .blog_item_thumb_over {
        position: absolute;
        padding: 17px 25px;
        background-color: var(--color-white);
        bottom: -55px;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        box-shadow: 0px 10px 40px 0px #5A5A5A1F;
        border-radius: 10px;
        width: 320px;

        .blog_item_thumb_over_txt {
            @extend %d-j-s-b;

            h6 {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: var(--color-balck);
            }

            .dot {
                height: 5px;
                width: 5px;
                border: 50%;
                background-color: var(--color-yellow);
                display: block;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: var(--color-slate-700);

            }
        }

    }
}


.blog_item_inner {
    padding-top: 37px;

    h4 {
        a {
            color: var(--color-balck);
            transition: var(--all-transition);

            &:hover {
                color: var(--color-hover-50);
            }
        }
    }

    .blog_inner_btn {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        color: var(--color-slate-700);
        text-decoration-line: underline;
        @extend %display-flex;
        gap: 14px;
        margin-top: 24px;
        transition: var(--all-transition);

        &:hover {
            color: var(--color-hover-50);

            span {
                svg {
                    color: var(--color-hover-50);
                }
            }
        }

        span {
            svg {
                fill: currentColor;
                color: var(--color-slate-700);
                transition: var(--all-transition);
            }
        }
    }
}




// blog_two 

.blog_two {
    padding: 80px 0;
}