.categories {
    padding: 80px 0 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .categories_mb {
        margin-bottom: 60px;
    }
}




.view_btn {
    text-align: -webkit-right;

    .thm-btn_two {
        width: 140px;
        border: 1px solid var(--color-slate-400);

        &:hover {
            border-color: var(--color-yellow);
        }
    }
}


.categories_slick {
    margin-top: 25px;

    .categories_slick_thumb {
        height: 88px;
        display: block;
        overflow: hidden;
        border-radius: 8px;
        margin: 0 15px;

        img {
            width: 100%;
            height: 100%;
        }
    }

}


// categories_two 

.categories_two {
    padding: 62px 0 80px 0;

    a {
        width: 100%;
    }

    .categories_thumb {
        height: 88px;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}





// perfect_lunch 
.perfect_lunch {
    padding: 62px 0 0 0;
}