.cta {
    padding: 0 0 62px 0;
}

.cta_bg {
    border-radius: 20px;
    position: relative;
    height: 425px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta_txt {
    padding: 76px 50px 65px 75px;
    position: relative;

    .icon {
        position: absolute;
        top: 20px;
        left: 36px;
        animation: rotateCircles 4s linear infinite;
    }

    h2 {
        font-size: 38px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.01em;
        text-align: left;
        color: var(--color-white);

        span {
            color: var(--color-yellow);
        }
    }

    p {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: var(--color-white);

    }

    .thm-btn_two {
        margin-top: 33px;
        padding: 10px 40px;
        display: inline-block;

        &:hover {
            border-color: var(--color-yellow);
        }
    }


}

.cta_thumb_main {
    position: absolute;
    top: 0;
    right: -5px;

    .icon {
        position: absolute;
        left: -80px;
        top: 30px;
        animation: rotateCircles 8s linear infinite;
    }

    .icon_two {
        position: absolute;
        left: 0px;
        bottom: 30px;
        animation: rotateCircles 6s linear infinite;
    }

    .cta_thumb {
        height: 425px;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 21% 100%);

        img {
            width: 100%;
            height: 100%;
        }
    }
}