.deals {
    padding: 63px 0 0px 0;
}


.deals_slick_thumb {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 15px;

    img {
        width: 100%;
    }
}


// deals_two 
.deals_two {
    padding: 0 0 80px 0;
}


































