.mobile_app {
    padding: 0px 0 80px 0;
    position: relative;
    overflow: hidden;

    .mobile_app_animetion {
        position: absolute;
        top: -54px;
        left: 196px;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 100%;
        animation: mobile_app_animetion_circel 4s linear infinite;

        &.two {
            animation: mobile_app_animetion_circel 4s linear 1s infinite;
        }

        &.three {
            animation: mobile_app_animetion_circel 4s linear 2s infinite;
        }

        &.four {
            animation: mobile_app_animetion_circel 4s linear 3s infinite;
        }
    }
}


.mobile_app_bg {
    padding: 53px 0px 0 67px;
    overflow: hidden;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile_app_txt {
    margin-top: 32px;
    padding-right: 125px;

    h2 {
        font-size: 38px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: -0.01em;
        color: var(--color-white);

    }

    p {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 23.2px;
        letter-spacing: -0.005em;
        color: var(--color-slate-200);

    }
}

.mobile_app_btn {
    @extend %display-flex;
    gap: 32px;
    margin-top: 50px;

    .thm-btn_two {
        @extend %display-flex;
        gap: 8px;

        &:hover {
            border: 1px solid var(--color-yellow);
        }

        span {
            svg {
                fill: currentColor;
                color: var(--color-white);
            }
        }

        &:hover {
            span {
                svg {
                    color: var(--color-balck);
                }
            }
        }

        &.two {
            background-color: transparent;
            color: var(--color-white);

            &::after {
                background-color: var(--color-white);
            }

            &:hover {
                color: var(--color-balck);
                border-color: var(--color-white);

            }
        }
    }
}




.mobile_app_thumb_main {
    @extend %d-j-center;
}

.mobile_app_thum {
    height: 388px;
    width: 365px;

    img {
        width: 100%;
        height: 100%;
    }
}