// flex placeholder 

%display-flex {
    display: flex;
    align-items: center;
}

%display-flex-a-s {
    display: flex;
    align-items: start;
}



%d-j-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


%d-j-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

%d-j-s-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

%d-j-s-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%d-e-j-s-b {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


// svg placeholder 

%svg-strock {
    stroke: currentColor;
    color: var(--color-balck);
}


// slick arrow 

%arrow_right {
    height: 36px;
    width: 36px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    box-shadow: -1px 2px 10px 0px #00000014;
    @extend %d-j-center;
    cursor: pointer;
    z-index: 50;

    svg {
        stroke: currentColor;
        color: #28303F;
    }
}