.privace_policy {
    padding: 70px 0 52px 0;
}


.privace_policy_main {
    h4 {
        color: var(--color-balck);
        padding-bottom: 12px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: var(--color-slate-700);
        padding-bottom: 20px;
    }

    ul {
        margin-left: 25px;
        padding-bottom: 20px;

        li {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: var(--color-slate-800);
            list-style: disc;
            padding-bottom: 5px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}