.profile_bg {
    padding: 185px 0 27px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.breadcrumb {
    @extend %display-flex;
    gap: 8px;

    li {
        a {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: var(--color-slate-500);

            &.active {
                color: var(--color-balck);
            }
        }
    }
}





// profile_informetion 



.profile_informetion_bg {
    height: 530px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: 100s ppb_kenburns linear infinite alternate;

    }
}


.profile_informetion_main {
    padding: 0px 30px;
    background-color: var(--color-white);


    .company_logo {
        margin-top: -75px;
        height: 140px;
        width: 140px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .company_name {
        @extend %display-flex;
        gap: 12px;
        margin-top: 16px;

        h6 {
            font-size: 38px;
            font-weight: 700;
            line-height: 47.5px;
            letter-spacing: -0.01em;
            color: var(--color-balck);

        }

    }
}



.profile_other_informetion {
    margin-top: 22px;

    @extend %d-j-s-b;
}

.profile_other_informetion_item {
    @extend %display-flex;
    gap: 16px;

    .dot {
        height: 6px;
        width: 6px;
        background-color: var(--color-slate-300);
        display: flex;
        border-radius: 50%;
    }


    .profile_informetion_date {
        p {
            @extend %display-flex;
            gap: 6px;

            span {
                svg {
                    fill: currentColor;
                    color: var(--color-slate-600)
                }
            }

            font-size: 18px;
            font-weight: 500;
            line-height: 22.68px;
            color: var(--color-slate-600)
        }
    }


    .profile_informetion_copy_btn {
        padding: 6px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--color-orange);
        background-color: #FDF8E9;
        border: 1px dashed #F9C200;
        border-radius: 8px
    }



}


.profile_riview {
    @extend %display-flex;
    gap: 6px;
    border: 0;
    background-color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 20.16px;
    letter-spacing: -0.02em;
    color: var(--color-balck);

    span {
        font-weight: 400;
        ;
        color: var(--color-slate-600);
    }
}

.profile_location {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    color: var(--color-slate-600);
    border: 0;
    background-color: var(--color-white);
    @extend %display-flex;
    gap: 6px;

    span {
        svg {
            stroke: currentColor;
            color: var(--color-slate-600);
        }
    }
}




.profile_other_informetion_link {
    @extend %display-flex;
    gap: 12px;

    .icon {
        width: 48px;
        height: 48px;
        background-color: var(--color-white);
        border: 1.5px solid var(--color-slate-200);
        border-radius: 50%;
        @extend %d-j-center;
        transition: var(--all-transition);

        // svg {
        //     @extend %svg-strock;
        // }

        &:hover {
            background-color: var(--color-yellow);
            border-color: var(--color-yellow);
        }
    }
}






.profile_informetion_sarch_main {
    @extend %d-j-s-b;
    gap: 12px;
    margin-top: 22px;

}


.profile_informetion_sarch_box {
    @extend %display-flex;
    gap: 8px;
    padding: 12px;
    background-color: var(--color-slate-50);
    border-radius: 8px;

    .sarch {
        border: 0;
        background-color: var(--color-slate-50);
    }

    .form-control {
        background-color: var(--color-slate-50);
        font-size: 16px;
        font-weight: 400;
        line-height: 20.16px;
        text-align: left;
        border: 0;
        padding: 0;
        color: var(--color-balck);

        &::placeholder {
            color: var(--color-slate-300);
        }

        &:focus {
            box-shadow: 0 0 0 .25rem transparent;
        }
    }
}



.informetion_sarch_link {
    @extend %display-flex;
    gap: 5px;


    a {
        padding: 18px 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--color-slate-700);
        transition: var(--all-transition);

        &:hover {
            color: var(--color-balck);
            background-color: var(--color-yellow);
        }

        &.active {
            color: var(--color-balck);
            background-color: var(--color-yellow);
        }
    }

}

.list_slick_arrow {
    @extend %arrow_right;
    background-color: var(--color-white);

    svg {
        stroke: transparent;
        fill: currentColor;
        color: var(--color-yellow);
    }
}