.sign_up {
    display: flex;
    gap: 130px;
}

.sign_up_left_slider_main {
    .slick-dots {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 6px;

        button {
            height: 8px;
            width: 8px;
            border: none;
            border-radius: 100%;
            background-color: var(--color-red);
            text-indent: -9999px;
            display: flex;
            position: relative;
            transition: var(--all-transition);

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                border: 1px solid #FF6648;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                opacity: 0;
                transition: var(--all-transition);
            }
        }

        li.slick-active button {
            background-color: var(--color-red);

            &::after {
                opacity: 1;
            }
        }

    }

}





.sign_up_left_side {
    padding: 90px 125px 200px 260px;
    width: 960px;
}


.sign_up_left_slider_thumb {
    height: 446px;


    img {
        width: 100%;
        height: 100%;
    }
}

.sign_up_left_slider_txt {
    text-align: center;
    margin-top: 20px;

    h3 {
        font-size: 44px;
        font-weight: 700;
        line-height: 55.44px;
        color: var(--color-balck);
    }

    p {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--color-slate-700);

    }
}



.sign_up_right_side {
    width: 100%;

    .sign_in_btn {
        margin-top: 30px;
    }

    .sign-up-main {
        padding-top: 130px;
        margin-right: 390px;

        .sign-up-text {
            text-align: center;
            margin-bottom: 24px;

            h2 {
                font-size: 32px;
                font-weight: 600;
                line-height: 38.4px;
                color: var(--color-balck);

            }
        }


        .sign-up-top-btn {

            a {
                padding: 12px;
                border-radius: 8px;
                width: 100%;
                border: 1px solid var(--color-slate-100);
                font-size: 16px;
                font-weight: 700;
                line-height: 25.6px;
                color: var(--color-balck);
                @extend %d-j-center;
                gap: 10px;
            }
        }

        .sign-up-top-btn-text {
            position: relative;
            z-index: 1;
            text-align: center;

            &::after {
                position: absolute;
                content: "";
                top: 34px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #D6DDEB;
                z-index: -1;
            }

            p {
                font-family: Plus Jakarta Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                text-align: center;
                margin: 20px 0;
                color: #202430;
                text-align: center;
                display: inline-block;
                background-color: var(--color-white);
            }
        }


        .sign-up-from {
            .sign-up-from-item {
                .sign-up-from-inner {
                    position: relative;
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .icon {
                        position: absolute;
                        top: 47px;
                        right: 16px;
                    }

                    .form-label {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 25.6px;
                        color: var(--color-slate-700);

                    }

                    .form-control {
                        padding: 12px 16px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 175%;
                        border: 1px solid #D6DDEB;
                        border-radius: 8px;
                        color: var(--color-balck);

                        &:focus {
                            box-shadow: 0 14px 16px 0 rgba(11, 2, 55, 0.1);
                            border-color: var(--color-yellow);
                        }

                    }


                }


            }
        }




        .sign-up_df {
            @extend %d-j-s-b;
            margin-top: 23px;
            margin-bottom: 22px;

            .form-check {
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .form-check-input {
                border: 1.5px solid var(--color-slate-600);
                cursor: pointer;

                &:focus {
                    box-shadow: 0 0 0 .25rem transparent;
                }

                &:checked {
                    background-color: var(--color-yellow);
                    border-color: var(--color-yellow) !important;


                }

                &:checked[type=checkbox] {
                    background-image: url(../assets/images/icon/from_check_img.png);
                    background-size: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .form-check-label {
                font-size: 16px;
                font-weight: 500;
                line-height: 25.6px;
                color: #515B6F;
                cursor: pointer;

            }

            .forgot_password_btn {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: var(--color-red);

            }

        }


        .sign_up_btm_txt {
            text-align: center;
            margin-top: 24px;

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 25.6px;
                color: #202430;

                span {
                    a {
                        font-weight: 600;
                        color: var(--color-red);

                    }
                }
            }
        }


        .sign_up_btm_txt_p {
            text-align: center;
            margin-top: 24px;

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 25.6px;
                color: var(--color-slate-600);

                span {
                    a {
                        color: var(--color-red);
                    }
                }
            }
        }


    }
}